<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/f4ee2627c2.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RecipeBook</title>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">Cookbook<i class="fa-solid fa-plate-utensils"></i></div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a routerLink="/recipelist">RecipeList</a>
        <a routerLink="/recipedetails">RecipeDetails</a>
        <a routerLink="/shoppinglist">ShoppingList</a>
      </div>
    </div>
      <router-outlet></router-outlet>
  </body>
</html>
