.cart {
  display: flex;
  padding: 10px 15px;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  text-align: center;
}

.cart:nth-child(even) {
  background-color: #E5E3C9;
}

.cart:nth-child(odd) {
  background-color: #B4CFB0;
}

.cart:last-of-type {
  border-bottom: 0;
}

.cart .id {
  flex: 1 1 50px;
}

.cart .product {
  flex: 1 1 100%;
}

.cart.done .content {
  text-decoration: line-through;
}

.qty {
  display: flex;
  text-align: center;
  padding: 5px;
  width: 40%;
  margin-right: auto;
}

.price {
  display: flex;
  text-align: center;
  padding: 5px;
  width: 40%;
  margin-right: auto;
}

.form {
  display: flex;
  margin: 20px;
}

.cart-product {
  display: block;
  width: 60%;
  padding: 10px;
  background-color: #F3F3F3;
  margin: 15px;
  font-size: 20px;
}

.cart-price {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: #F3F3F3;
  margin: 15px;
  font-size: 20px;
}

.cart-submit {
  display: block;
  width: 100%;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;

  background-color: #92A9BD;
  color: #FFF;
  margin: 15px auto;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
}

.cart-submit:hover {
  background-color: #7C99AC;
}

.id,
.product,
.price {
  display: block;
  float: left;
  line-height: 50px;
  font-weight: 600;
}


.qt,
.qt-plus,
.qt-minus {
  display: block;
  float: left;
}

.qt {
  font-size: 19px;
  line-height: 50px;
  width: 70px;
  text-align: center;
}

.qt-plus,
.qt-minus {
  background: #fcfcfc;
  border: none;
  font-size: 30px;
  font-weight: 300;
  height: 100%;
  padding: 0 20px;
}

.qt-plus:hover,
.qt-minus:hover {
  background: #53b5aa;
  color: #fff;
  cursor: pointer;
}

.qt-plus {
  line-height: 47px;
}

.qt-minus {
  line-height: 47px;
}

.remove {
  background: #fcfcfc;
  border: none;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  padding: 0 10px;
  line-height: 60px;
}

.remove:hover {
  background: #df6262;
  color: #fff;
  cursor: pointer;
}


.subtotal {
  display: block;
  
  text-align: center;
  height: 40px;
  width: auto;
  margin: 10px;
  margin-right: 30px;
  font-weight: bolder;
  font-size: 30px;
  background-color: #d5f189;
  border-radius: 3px;
}